---

port_config:
  port_name: "port-infra"
  network_name: "network1"
  ip_address: "192.168.1.9"
  no_security_groups: "yes"
  port_security_enabled: "false"

server:
  name: infra-serv
  image: infra-serv-img
  flavor: m1.medium-4
  nics: "port-name={{ port_config.port_name }}"

docker:
  daemon_config:
    dns1: 10.0.1.1
    dns2: 10.0.1.2
    insecure_registry: 10.0.0.0/8
    storage_driver: overlay2
  compose:
    version: 1.15.0
  network:
    name: dock-net-1
    driver: macvlan
    subnet: 10.0.2.0/24
    gateway: 10.0.2.254
    parent_interface: eth0

common:
  parent_etcd_url: "http://1.2.3.4:4001"
  parent_dns1: 10.0.1.2
  parent_dns2: 10.0.1.3

etcd:
  image: "quay.io/coreos/etcd:v2.3.7"
  data_dir: "/home/core/etcd"
  ip: 10.0.2.5

dns:
  image: "coredns/coredns:008"
  data_dir: "/home/core/coredns"
  proxy_nameservers: "10.0.1.1:53 10.0.1.2:53"
  dns1:
    ip: 10.0.2.2
  dns2:
    ip: 10.0.2.3
  domain: [
    "dev.local"
  ]

dhcpd:
  image: "ictu/docker-dhcpd"
  data_dir: "/home/core/dhcpd"
  ip: 10.0.2.1
  gateway: 10.0.2.254
  subnet: 10.0.2.0
  netmask: 255.255.255.0
  range_pxe: "10.0.2.21 10.0.2.40"
  range_static: "10.0.2.41 10.0.2.50"
  range_other: "10.0.2.51 10.0.2.240"
  nameservers: "10.0.1.1, 10.0.1.2"
  default_lease_time: 60
  max_lease_time: 180
  pxepool_macprefix: 12:50:56
